* {
  margin:0;
  padding:0;
}
html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  position: sticky;
  top: 0;
  left:0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 1rem 0;
  z-index: 1;
}

.card-holder {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-around;
}

.flip-card {
  flex-shrink: 1;
  margin: 1rem 0;
}

.footer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 2rem 0;
}

.pagination {
  order: 1;
}